services:
  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    platform: linux/amd64
    ports:
      - "2182:2181"
    networks:
      - app-net

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka_video
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://0.0.0.0:9093,OUTSIDE://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9093,OUTSIDE://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_NUM_PARTITIONS: 4
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - app-net
    volumes:
      - kafka_data:/var/lib/kafka/data

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_SERVER_URL: http://localhost:9000
      MINIO_BROWSER_REDIRECT_URL: http://localhost:9001
    volumes:
      - minio_data:/data
    networks:
      - app-net

  webapp:
    build:
      context: .
      dockerfile: src/backend_services/Dockerfile
    container_name: video_transcoding_app
    ports:
      - "8000:8000"
    env_file:
      - src/backend_services/.env
    environment:
      - DATABASE_URL=sqlite:////app/src/app.db
    command: uvicorn api_transcoder.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - kafka
      - minio
    networks:
      - app-net
    volumes:
      - ./src/backend_services:/app/src
    working_dir: /app/src

  redis:
    container_name: redis_video
    image: redis:7.4-alpine
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - app-net

  worker:
    build:
      context: .
      dockerfile: src/backend_services/Dockerfile
    env_file:
      - src/backend_services/.env
    environment:
      - KAFKA_BROKER=kafka:9093
    command: python -m worker.wrok
    depends_on:
      - kafka
      - minio
      - redis
    networks:
      - app-net
    volumes:
      - ./src/backend_services:/app/src
      - worker_temp:/tmp/transcoding_worker
      - worker_merge:/tmp/video_merge
    working_dir: /app/src
    restart: unless-stopped
    deploy:
      replicas: 2 # Run 2 worker instances for parallel processing

volumes:
  kafka_data:
  minio_data:
  redis_data:
  worker_temp:
  worker_merge:

networks:
  app-net:
    driver: bridge
